.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.wait-spinner {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



.search-container {

  display: flex;
  flex-direction: column;
  z-index: auto;
}

span {
  cursor: pointer;
}

.dropdown {
  display: flex;
  flex-direction: column;
  background-color: rgb(234, 255, 234);

  /* border: 0px solid gray; */
  z-index: 2;
}

.dropdown:empty {
  
  border: none;
}

input {
  font-size: medium;
  border-radius: 5px;
  

}

.dropdown-row {
  /* background-color: rgb(170, 248, 169); */

  cursor: pointer;
  text-align: start;
  /* margin: 2px 0; */
  font-size: medium;
  border-radius: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* border: 1px solid gray; */
}

.dropdown-row:hover {
  background-color: rgb(232, 252, 187);
}

.dropdown-id {
  
  text-align: end;
  font-size: smaller;
}

.search-inner {
  display: flex;

}

#column-example-20 {
  height: 300px;
  /* max-width:400px; */
  margin: 0 auto;
}

.div-main {
  min-height: 100vh;
  background: #c0fcea;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #c0fcea, #fff);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #c0fcea, #fff);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #c0fcea, #fff);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #c0fcea, #fff);
  /* Standard syntax (must be last) */
}

.div-dashbord {
  /* background-color: aqua; */
  /* height:auto; */
  /* width: 60%; */
  align-items: center;
  margin: 0 auto 0 auto;

}

/* .div-dashbord-all { */
/* background-color: aqua; */
/* height:auto; */
/* width: 100%; */
/* align-items: center; */
/* margin: auto; */

/* } */
.div-statu-txt {
  /* margin: 0 auto 10px auto; */
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .div-statu-all { */
/* background-color: aqua; */
/* align-items: center; */

/* } */

.name-depos{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}