body {
  margin: 0;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.div-btn:hover {
  /* background-color: mistyrose; */
  box-shadow: 10px 5px 20px #8888;
  transition: 300ms;
  /* transform: scale(1.2); */
}

.div-btn {

  /* background-color: mistyrose; */
  transition: 300ms
}

.btn-scan:hover {
  box-shadow: 10px 5px 20px rgb(136, 238, 250);
  background-color: rgb(0, 255, 162);

  /* transform: scale(1); */
  transition: 300ms
}

.btn-scan {
  background-color: rgb(0, 127, 255);
  width: 4rem;
  height: 4rem;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index:99;
  border-radius: 10px;
  transition: 300ms
}

.item-nav {
  font-size: 1.3rem;

}

.item-nav:hover {
  margin-left: 10px;
}

.item-nav-admin {
  font-size: 1.3rem;
}

.item-nav-admin:hover {
  margin-left: 10px;
}
.home-admin{
  min-height: 100vh;
  /* height: 100vh; */
  background: #fff;
  margin-bottom: 0px;
}

